<div class="edit">
<h1>Editing Book</h1>
<%= form_with model:@book, local: true do |f| %>
<%= render 'books/form',  url: "/books/#{@book.id}", model: f.object %>
  <%= f.label :title %>
  <br>
  <%= f.text_field :title %>
  <br>
  <%= f.label :body %>
  <br>
  <%= f.text_area :body %>
  <br>
  <%= f.submit 'Update Book' %>
<% end %>
    <div class="edit-btn">
        <p class="btn-edit"><%= link_to "Show", book_path(@book) %></p>
        <p class="btn-edit"><%= link_to "Back", books_path %></p>
    </div>
</div>